@keyframes loop {
  from {
    transform: rotateX(-10deg) rotateY(360deg);
  }
  to {
    transform: rotateX(-10deg) rotateY(0deg);
  }
}

@keyframes shadow-rotating {
  from {
    transform: rotateX(-100deg) rotateZ(360deg);
  }
  to {
    transform: rotateX(-100deg) rotateZ(0deg);
  }
}
